<div class="container" style="max-width: 720px;padding-top: 32px;">
    <h3>Getting Started with NGW</h3>
    <p>
        This guide explains how to set up your Angular project to begin using <code>Ngw</code>. It includes information on installing and importing <code>Ngw</code> to your Angular Application.
    </p>

    <h5>Install <code>Ngw</code></h5>
    <p>
        <code>Ngw</code> Comes has a npm package so you can start installing <code>Ngw</code> by running following command :
    </p>
    <p padding="10px" radius="3px" border="1px solid #ccc" bgColor="baseFocus">
        <code>npm i ngw-core --save</code>
    </p>
    <p>
        The above command installs <code>Ngw</code> and adds it has a dependency to your application.
    </p>

    <h5>Use Ngw</h5>
    <p>
        To start using ngw in your angular application, you need to import it to your <code>app.module.ts</code> as shown in below snippet
    </p>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
            {{codeSnippet}}
    </pre>

    <p>
        P.S - Optionally you can pass the config object to <code>ngw</code> import, which will help customize and theme <code>ngw</code>. Refer <a ngwBtn="link" padding="10px 0px 0px 0px" routerLink="/theme">theme</a> section for more information.
    </p>



</div>