<div class="container" style="max-width: 720px;padding-top: 32px;">
    <h3>Getting Started with NGW</h3>
    <p>
        This guide explains how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample material component in your application to verify your setup.
    </p>

    <h5>Install NGW</h5>
    <p>
        Use the Angular CLI's installation schematic to set up your Angular Material project by running the following command:
    </p>
    <p>
        <code>npm i ngw-core --save</code>
    </p>

    <h5>Use Ngw</h5>
    <p>
        Let's display a slider component in your app and verify that everything works. You need to import the MatSliderModule that you want to display by adding the following lines to your <code>app.module.ts</code> file.
    </p>


    <pre class="prettyprint" style="overflow: auto;" margin="auto" bgColor="white">
            {{codeSnippet}}
    </pre>

    <p></p>



</div>