<div>
    <h3>Alerts</h3>
    <p>An Alert is a dialog that presents users with information or collects information from the user using inputs. </p>
    <h5 margin.y="12px">Simple Alert</h5>
    <!-- replace primary with other theme colors *ngIf="'primary' as theme"-->
    <div margin="24px" *ngFor="let theme of ['primary','secondary','success']">
        <!-- need to update the background opacity-->
        <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
            <div margin="8px">
                <div height="24px" width="24px" textColor="{{theme}}Focus" radius="50%" align="centercenter">
                    <i class="material-icons">done</i>
                </div>
            </div>
            <div col="fill" margin.y="8px">
                <p ngwTypo="body-2" textColor="{{theme}}Focus" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adip!</p>
            </div>
        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.simple}}
    </pre>

    <h5 margin.y="12px">Themed Alerts</h5>
    <div margin="24px" *ngFor="let theme of ['primary','secondary','success','warning','error']">
        <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="16px">
            <div margin="8px">
                <div height="40px" width="40px" bgColor="{{theme}}Focus" textColor="primary-contrast" radius="50%" align="centercenter">
                    <i class="material-icons" textColor="{{theme}}Content">done</i>
                </div>
            </div>
            <div col="fill" padding="8px 8px 0px 0px">
                <p ngwTypo="subheading-2" textColor="{{theme}}" margin.bottom="8px">Primary !</p>
                <p ngwTypo="body" textColor="{{theme}}" margin.bottom="8px"> User added successfully. </p>
            </div>
        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.themed}}
    </pre>

    <h5 margin.y="12px">Confirm Alert</h5>
    <div margin="24px">
        <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
            <div col="fill" margin.y="8px">
                <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px" ellipsis>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div margin="8px">
                <button ngwBtn="" margin.right="12px">Cancel</button>
                <button ngwBtn="raised" color="primary">Apply</button>
            </div>
        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.confirm}}
    </pre>

    <h5 margin.y="12px">Confirm Alert Multiline</h5>
    <div margin="24px">
        <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
            <div col="fill" margin.y="8px">
                <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>

            <div margin="8px">
                <button ngwBtn="" margin.right="12px">Cancel</button>
                <button ngwBtn="raised" color="primary">Apply</button>
            </div>

        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.confirmMultiline}}
    </pre>

    <h5 margin.y="12px">Single Line With Button</h5>
    <div margin="24px">
        <div row bgColor="baseFocus" padding="8px" width="700px" align.y="center" radius="8px">
            <div margin="8px">
                <div height="24px" width="24px" textColor="error" radius="50%" align="centercenter">
                    <i class="material-icons">error</i>
                </div>
            </div>
            <div col="fill" margin.y="8px">
                <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adip!</p>
            </div>
            <div margin="8px">
                <button ngwBtn=""><i class="material-icons">notifications</i> &nbsp;Set Remainder</button>

            </div>
        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.singleLineWithButton}}
    </pre>

    <h5 margin.y="12px">Multiline Alert</h5>
    <div margin="24px">
        <div row bgColor="baseFocus" padding="8px" width="700px" radius="8px">
            <div margin="8px" align.y="top">
                <i class="material-icons" textColor="primary">notifications</i>
            </div>
            <div col="fill" margin.y="8px" align.y="center">
                <div row>
                    <p col="100%" ngwTypo="subheading-2" margin.bottom="0px" ellipsis>Lorem ipsum dolor sit amet</p>
                    <p col="100%" ngwTypo="body" margin.bottom="8px">
                        Lorem ipsum dolor sit amet, consectetur adip! Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet,
                        consectetur adip!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.multiLine}}
    </pre>

</div>