<div class="d-flex ngw-sd-wrapper" style="height: calc(100vh - 106px);">
    <!-- Sidebar-->
    <div class="border-end ngw-sd-sidebar-wrapper" style="min-height: calc(100vh - 240px);">
        <div class="sidebar-heading border-bottom">Widgets</div>
        <div class="list-group list-group-flush" style="height: calc(100vh - 170px);overflow: auto;">
            <div class="list-group-item list-group-item-action p-3" [ngClass]="{'sidebar-active':currentCompIndex == i}" style="cursor: pointer;" (click)="showDetails(i)" *ngFor="let c of coreComps;index as i;">{{c.name}}</div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" bgColor="base">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <button class="btn btn-base ngw-text-baseContent ngw-text-hover-baseContent" id="sidebarToggle" (click)="toggleSideBar()">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="material-icons">menu</i>
                </button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" #pageContainer style="max-height: calc(100vh - 170px);overflow: auto;">

            <!-- ngw-button -->
            <div padding="24px" *ngIf="currentComponent.id == 'button'">
                <ngw-buttons></ngw-buttons>
            </div>
            <!-- Form Control -->
            <div padding="24px" *ngIf="currentComponent.id == 'form'">
                <ngw-form-controls></ngw-form-controls>
            </div>
            <!-- Typography -->
            <div padding="24px" *ngIf="currentComponent.id == 'typo'">
                <ngw-typography></ngw-typography>
            </div>
            <!-- Alerts -->
            <div padding="24px" *ngIf="currentComponent.id == 'alert'">
                <ngw-alerts></ngw-alerts>
            </div>
            <!-- Cards -->
            <div padding="24px" *ngIf="currentComponent.id == 'card'">
                <ngw-cards-demo></ngw-cards-demo>
            </div>
            <!-- stat Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'stat'">
                <ngw-stat-cards-demo></ngw-stat-cards-demo>
            </div>
            <!-- Gradient Cards -->
            <div padding="24px" *ngIf="currentComponent.id == 'gc'">
                <ngw-gradient-demo></ngw-gradient-demo>
            </div>
            <!-- Image Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'imageCard'">
                <ngw-img-card-demo></ngw-img-card-demo>
            </div>
            <!-- Info Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'infoCard'">
                <ngw-info-card-demo></ngw-info-card-demo>
            </div>
            <!-- Badges -->
            <div padding="24px" *ngIf="currentComponent.id == 'badge'">
                <ngw-badges-demo></ngw-badges-demo>
            </div>
            <!-- Avatars-->
            <div padding="24px" *ngIf="currentComponent.id == 'avatar'">
                <ngw-avatar></ngw-avatar>
            </div>
        </div>
    </div>
</div>