<div class="d-flex ngw-sd-wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white ngw-sd-sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">NGW Core</div>
        <div class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action list-group-item-light p-3" [ngClass]="{'sidebar-active':currentCompIndex == i}" style="cursor: pointer;" (click)="showDetails(c,i)" *ngFor="let c of coreComps;index as i;">{{c.name}}</div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-default" id="sidebarToggle" (click)="toggleSideBar()"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">

            <div padding="24px">
                <h3>Ngw Buttons</h3>
                <p>{{currentComp.desc}} </p>
                <!-- tabs -->
                <div margin="auto" width="80%">
                    <div class="tab">
                        <button class="tablinks" [ngClass]="{'active':currentTabIndex ==0}" (click)="currentTabIndex=0">Preview</button>
                        <button class="tablinks" [ngClass]="{'active':currentTabIndex ==1}" (click)="currentTabIndex=1">Code</button>
                        <button class="tablinks" [ngClass]="{'active':currentTabIndex ==2}" (click)="currentTabIndex=2">API</button>
                    </div>
                    <div class="tabcontent" [hidden]="currentTabIndex !=0">
                        <h3>Preview goes here</h3>
                    </div>
                    <div class="tabcontent" [hidden]="currentTabIndex !=1">
                        <h3>code goes here</h3>
                        <pre class="prettyprint" style="overflow: auto;" margin="auto" bgColo="white">
                            {{codeSnippet}}
                        </pre>
                    </div>
                    <div class="tabcontent" [hidden]="currentTabIndex !=2">
                        <h3>API Documentation goes here</h3>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>@Input() Color:string</td>
                                <td>Theme color palette for the component</td>
                            </tr>
                            <tr>
                                <td>@Input() disable:boolean</td>
                                <td>Whether ripple is disbaled.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>