<div class="d-flex ngw-sd-wrapper" style="height: calc(100vh - 106px);">
    <!-- Sidebar-->
    <div class="border-end ngw-sd-sidebar-wrapper" style="min-height: calc(100vh - 240px);">
        <div class="sidebar-heading border-bottom">Widgets</div>
        <div class="list-group list-group-flush" style="height: calc(100vh - 170px);overflow: auto;">
            <div class="list-group-item list-group-item-action p-3" [ngClass]="{'sidebar-active':currentCompIndex == i}" style="cursor: pointer;" (click)="showDetails(i)" *ngFor="let c of coreComps;index as i;">{{c.name}}</div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" bgColor="base">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <button class="btn btn-base ngw-text-baseContent ngw-text-hover-baseContent" id="sidebarToggle" (click)="toggleSideBar()">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="material-icons">menu</i>
                </button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" #pageContainer style="max-height: calc(100vh - 170px);overflow: auto;">

            <!-- ngw-button -->
            <div padding="24px" *ngIf="currentComponent.id == 'button'">
                <h3>Ngw Buttons</h3>
                <p>Buttons provide a clickable element, which can be used in forms, or anywhere that needs simple, standard button functionality. They may display text, icons, or both. Buttons can be styled with several attributes to look a specific way.
                </p>
                <h5>API</h5>
                <table>
                    <tr>
                        <th>Directive</th>
                        <th>Description</th>
                        <th>Allowed Values</th>
                    </tr>
                    <tr>
                        <td> <code>ngwBtn</code> </td>
                        <td> Defines type of button</td>
                        <td>none,outline, flat, raised,icon</td>
                    </tr>
                    <tr>
                        <td> <code>color</code> </td>
                        <td> Defines button color </td>
                        <td> Any Valid ngw theme color<br/><small class="text-muted">(e.g. primary, success)</small></td>
                    </tr>
                </table>


                <h6 margin.y="16px">Default Buttons</h6>

                <button ngwBtn="" margin="10px" color="">Default Button</button>
                <button ngwBtn="" margin="10px" color="primary">Primary Button</button>
                <button ngwBtn="" margin="10px" color="secondary">Secondary Button</button>
                <button ngwBtn="" margin="10px" color="success">Success Button</button>
                <button ngwBtn="" margin="10px" color="warning">Warning Button</button>
                <button ngwBtn="" margin="10px" color="error">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[0]}}
                </pre>


                <h6 margin.y="16px">Outline Buttons</h6>

                <button ngwBtn="outline" margin="10px" color="">Outline Button</button>
                <button ngwBtn="outline" margin="10px" color="primary">Primary Button</button>
                <button ngwBtn="outline" margin="10px" color="secondary">Secondary Button</button>
                <button ngwBtn="outline" margin="10px" color="success">Success Button</button>
                <button ngwBtn="outline" margin="10px" color="warning">Warning Button</button>
                <button ngwBtn="outline" margin="10px" color="error">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[1]}}
                </pre>

                <h6 margin.y="16px">Outline Rounded Buttons</h6>

                <button ngwBtn="outline" margin="10px" color="" radius="9999px">Outline Rounded Button</button>
                <button ngwBtn="outline" margin="10px" color="primary" radius="9999px">Primary Button</button>
                <button ngwBtn="outline" margin="10px" color="secondary" radius="9999px">Secondary Button</button>
                <button ngwBtn="outline" margin="10px" color="success" radius="9999px">Success Button</button>
                <button ngwBtn="outline" margin="10px" color="warning" radius="9999px">Warning Button</button>
                <button ngwBtn="outline" margin="10px" color="error" radius="9999px">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[2]}}
                </pre>

                <h6 margin.y="16px">Flat Buttons</h6>

                <button ngwBtn="flat" margin="10px" color="">Flat Button</button>
                <button ngwBtn="flat" margin="10px" color="primary">Primary Button</button>
                <button ngwBtn="flat" margin="10px" color="secondary">Secondary Button</button>
                <button ngwBtn="flat" margin="10px" color="success">Success Button</button>
                <button ngwBtn="flat" margin="10px" color="warning">Warning Button</button>
                <button ngwBtn="flat" margin="10px" color="error">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[3]}}
                </pre>

                <h6 margin.y="16px">Flat Rounded Buttons</h6>

                <button ngwBtn="flat" margin="10px" radius="9999px" color="">Flat Rounded Button</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="primary">Primary Button</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="secondary">Secondary Button</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="success">Success Button</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="warning">Warning Button</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="error">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[4]}}
                </pre>

                <h6 margin.y="16px">Raised Buttons</h6>

                <button ngwBtn="raised" margin="10px" color="">Raised Button</button>
                <button ngwBtn="raised" margin="10px" color="primary">Primary Button</button>
                <button ngwBtn="raised" margin="10px" color="secondary">Secondary Button</button>
                <button ngwBtn="raised" margin="10px" color="success">Success Button</button>
                <button ngwBtn="raised" margin="10px" color="warning">Warning Button</button>
                <button ngwBtn="raised" margin="10px" color="error">Error Button</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[5]}}
                </pre>

                <h6 margin.y="16px">Icon Buttons</h6>

                <button ngwBtn="icon" margin="10px" color="">
                    <i class="material-icons">work</i>
                </button>
                <button ngwBtn="icon" margin="10px" color="primary">
                    <i class="material-icons">logout</i>
                </button>
                <button ngwBtn="icon" margin="10px" color="secondary">
                    <i class="material-icons">pending_actions</i>
                </button>
                <button ngwBtn="icon" margin="10px" color="success">
                    <i class="material-icons">article</i>
                </button>
                <button ngwBtn="icon" margin="10px" color="warning">
                    <i class="material-icons">favorite_border</i>
                </button>
                <button ngwBtn="icon" margin="10px" color="error">
                    <i class="material-icons">bug_report</i>
                </button>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[6]}}
                </pre>

                <h6 margin.y="16px">Buttons With Icons</h6>

                <button ngwBtn="flat" margin="10px" color=""><i class="material-icons">bug_report</i> Message</button>
                <button ngwBtn="flat" margin="10px" radius="9999px" color="primary"><i class="material-icons">home</i> Home</button>
                <button ngwBtn="outline" margin="10px" color="secondary"><i class="material-icons">favorite</i> Likes</button>
                <button ngwBtn="outline" margin="10px" color="success" radius="9999px"><i class="material-icons">west</i> Back</button>
                <button ngwBtn="" margin="10px" radius="9999px" color="warning">Proceed<i class="material-icons">east</i></button>
                <button ngwBtn="flat" margin="10px" color="error"><i class="material-icons">edit_calendar</i> &nbsp;Edit</button>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[7]}}
                </pre>

                <h6 margin.y="16px">Link Buttons</h6>

                <p>Goto <a href="" ngwBtn="link">Home</a> Page</p>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[7]}}
                </pre>


            </div>
            <!-- Form Control -->
            <div padding="24px" *ngIf="currentComponent.id == 'form'">
                <h3>Ngw Form Controls</h3>
                <p>Element used to accept data from the user </p>
                <h5>API</h5>
                <table>
                    <tr>
                        <th>Directive</th>
                        <th>Description</th>
                        <th>Allowed Values</th>
                    </tr>
                    <tr>
                        <td> <code>ngwFormControl</code> </td>
                        <td> Defines default ngw style for input</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td> <code>color</code> </td>
                        <td> Defines input border color </td>
                        <td> Any Valid ngw theme color<br/><small class="text-muted">(e.g. primary, success)</small></td>
                    </tr>
                </table>
                <h6 margin.y="16px">Input Form Control</h6>
                <form>
                    <div row>
                        <div col="50%" padding="8px">
                            <label ngwTypo="caption">Default State</label>
                            <input type="text" ngwFormControl placeholder="Enter a value" />
                        </div>

                        <div col="50%" padding="8px">
                            <label ngwTypo="caption">Success State</label>
                            <input type="text" ngwFormControl color="success" placeholder="Enter a value" />
                        </div>

                        <div col="50%" padding="8px">
                            <label ngwTypo="caption">Warning State</label>
                            <input type="text" ngwFormControl color="warning" placeholder="Enter a value" />
                        </div>

                        <div col="50%" padding="8px">
                            <label ngwTypo="caption">Error State</label>
                            <input type="text" ngwFormControl color="error" placeholder="Enter a value" />
                        </div>
                    </div>
                </form>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[8]}}
                </pre>

            </div>
            <!-- Typography -->
            <div padding="24px" *ngIf="currentComponent.id == 'typo'">
                <h3>Ngw Typography</h3>
                <p>The text component is a simple component that can be used to style the text color of any element. </p>
                <h5>API</h5>
                <table>
                    <tr>
                        <th>Directive</th>
                        <th>Description</th>
                        <th>Allowed Values</th>
                    </tr>
                    <tr>
                        <td> <code>ngwTypo</code> </td>
                        <td> Defines style for text</td>
                        <td>headline, title, subheading-2, subheading-1, body-2, body-1, body, caption, button, display-4, display-3, display-2, display-1</td>
                    </tr>
                    <tr>
                        <td> <code>muted</code> </td>
                        <td> Defines if the text need to be muted </td>
                        <td> true or false</td>
                    </tr>
                </table>
                <h6 margin.y="16px">Typography</h6>
                <div>
                    <p ngwTypo="display-4">display-4</p>
                    <p ngwTypo="display-3">display-3</p>
                    <p ngwTypo="display-2">display-2</p>
                    <p ngwTypo="display-1">display-1</p>
                    <p ngwTypo="headline">headline</p>
                    <p ngwTypo="title">title</p>
                    <p ngwTypo="subheading-2">subheading-2</p>
                    <p ngwTypo="subheading-1">subheading-1</p>
                    <p ngwTypo="body-2">body-2</p>
                    <p ngwTypo="body-1">body-1</p>
                    <p ngwTypo="body">body</p>
                    <p ngwTypo="caption">caption</p>
                    <p ngwTypo="button">button</p>
                </div>

                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[9]}}
                </pre>

            </div>
            <!-- Alerts -->
            <div padding="24px" *ngIf="currentComponent.id == 'alert'">
                <h3>Alerts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>


                <h5 margin.y="12px">Simple Alert</h5>
                <!-- replace primary with other theme colors *ngIf="'primary' as theme"-->
                <div margin="24px" *ngFor="let theme of ['primary','secondary','success']">
                    <!-- need to update the background opacity-->
                    <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
                        <div margin="8px">
                            <div height="24px" width="24px" textColor="{{theme}}Focus" radius="50%" align="centercenter">
                                <i class="material-icons">done</i>
                            </div>
                        </div>
                        <div col="fill" margin.y="8px">
                            <p ngwTypo="body-2" textColor="{{theme}}Focus" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adip!</p>
                        </div>
                    </div>
                </div>

                <h5 margin.y="12px">Confirm Alert</h5>
                <div margin="24px">
                    <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
                        <div col="fill" margin.y="8px">
                            <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px" ellipsis>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <div margin="8px">
                            <button ngwBtn="" margin.right="12px">Cancel</button>
                            <button ngwBtn="raised" color="primary">Apply</button>
                        </div>

                    </div>
                </div>

                <h5 margin.y="12px">Confirm Alert Multiline</h5>
                <div margin="24px" *ngFor="let theme of ['base']">
                    <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="8px">
                        <div col="fill" margin.y="8px">
                            <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>

                        <div margin="8px">
                            <button ngwBtn="" margin.right="12px">Cancel</button>
                            <button ngwBtn="raised" color="primary">Apply</button>
                        </div>

                    </div>
                </div>

                <h5 margin.y="12px">Single Line With Button</h5>
                <div margin="24px" *ngFor="let theme of ['base']">
                    <div row bgColor="baseFocus" padding="8px" width="700px" align.y="center" radius="8px">
                        <div margin="8px">
                            <div height="24px" width="24px" textColor="error" radius="50%" align="centercenter">
                                <i class="material-icons">error</i>
                            </div>
                        </div>
                        <div col="fill" margin.y="8px">
                            <p ngwTypo="body-2" textColor="baseContent" margin.bottom="0px">Lorem ipsum dolor sit amet, consectetur adip!</p>
                        </div>
                        <div margin="8px">
                            <button ngwBtn=""><i class="material-icons">notifications</i> &nbsp;Set Remainder</button>

                        </div>
                    </div>
                </div>

                <h5 margin.y="12px">Multiline Alert</h5>
                <div margin="24px" *ngFor="let theme of ['base']">
                    <div row bgColor="baseFocus" padding="8px" width="700px" radius="8px">
                        <div margin="8px" align.y="top">
                            <i class="material-icons" textColor="primary">notifications</i>
                        </div>
                        <div col="fill" margin.y="8px" align.y="center">
                            <div row>
                                <p col="100%" ngwTypo="subheading-2" margin.bottom="0px" ellipsis>Lorem ipsum dolor sit amet</p>
                                <p col="100%" ngwTypo="body" margin.bottom="8px">
                                    Lorem ipsum dolor sit amet, consectetur adip! Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet,
                                    consectetur adip!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 margin.y="12px">Primary Alerts</h5>
                <div margin="24px" *ngFor="let theme of ['primary','secondary','success','warning','error']">
                    <div row bgColor="baseFocus" padding="8px" width="500px" align.y="center" radius="16px">
                        <div margin="8px">
                            <div height="40px" width="40px" bgColor="{{theme}}Focus" textColor="primary-contrast" radius="50%" align="centercenter">
                                <i class="material-icons" textColor="{{theme}}Content">done</i>
                            </div>
                        </div>
                        <div col="fill" padding="8px 8px 0px 0px">
                            <p ngwTypo="subheading-2" textColor="{{theme}}" margin.bottom="8px">Primary !</p>
                            <p ngwTypo="body" textColor="{{theme}}" margin.bottom="8px"> User added successfully. </p>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[10]}}
                </pre>



            </div>
            <!-- Cards -->
            <div padding="24px" *ngIf="currentComponent.id == 'card'">
                <h3>Cards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                <!-- Basic Card -->
                <h5 margin.y="12px">Basic Card</h5>
                <div margin="24px">
                    <div shadow="2" padding="16px" radius="4px" bgColor="baseFocus">
                        <h3 ngwTypo="headline" ellipsis>Where does it come from ?</h3>
                        <p ngwTypo="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div margin.top="16px">
                            <button ngwBtn="" color="primary" margin.right="12px">Agree</button>
                            <button ngwBtn="" color="warning">Cancel</button>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[15]}}
                </pre>

                <!-- Thank you Card -->
                <h5 margin.y="12px">Thank You Card</h5>
                <div margin="24px">
                    <div row align="centercenter" radius="4px" shadow="2" padding.y="32px" width="300px" bgColor="baseFocus">
                        <div col="100%" align="centercenter">
                            <div height="64px" width="64px" radius="50%" bgColor="primary" align="centercenter">
                                <i textColor="primaryContent" class="material-icons">done</i>
                            </div>
                        </div>
                        <div col="100%">
                            <p ngwTypo="subheading-2" margin.top="20px" textColor="primary" ellipsis>Thanks you,</p>
                            <p ngwTypo="body" margin.top="4px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div col="100%" margin.top="24px">
                            <button ngwBtn="raised" color="secondary">Continue</button>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                     {{codeSnippet[17]}}
                 </pre>

                <!-- Profile Card -->
                <h5 margin.y="12px">Profile Card</h5>
                <div margin="24px" style="max-width: 500px;">
                    <div row padding="16px" shadow="2" radius="4px" align.y="center" bgColor="baseFocus">
                        <div col="fill">
                            <div row>
                                <div margin.right="16px">
                                    <img height="48px" width="48px" shadow="1" radius="50%" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" />
                                </div>
                                <div col="fill" padding.top="4px">
                                    <h1 ngwTypo="subheading-2" margin.bottom="4px">RSAT</h1>
                                    <p ngwTypo="body" muted="true">Developer at Google</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button ngwBtn="flat" color="primary" radius="9999px">Follow</button>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                     {{codeSnippet[18]}}
                </pre>

                <!-- Profile Card 2 -->
                <h5 margin.y="12px">Profile Card 2</h5>
                <div margin="24px" style="max-width: 500px;">
                    <div row padding="16px" shadow="2" radius="4px" width="250px" bgColor="baseFocus">
                        <div col="100%" margin.top="16px">
                            <p ngwTypo="subheading-2" margin.bottom="8px" align.x="center" ellipsis>Rohith Sathyanarayana</p>
                            <p ngwTypo="body" muted="true" ellipsis align.x="center">SMTS</p>
                        </div>

                        <div col="100%" align="centercenter" margin.top="16px">
                            <img shadow="1" height="48px" width="48px" radius="50%" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" />
                        </div>

                        <div col="100%" margin.top="24px">
                            <div row align="centercenter">
                                <div col="33%">
                                    <p ngwTypo="button" margin.bottom="4px">20</p>
                                    <p ngwTypo="caption" muted="true">Posts</p>
                                </div>
                                <div col="33%">
                                    <p ngwTypo="button" margin.bottom="4px">99k</p>
                                    <p ngwTypo="caption" muted="true">Likes</p>
                                </div>
                                <div col="fill">
                                    <p ngwTypo="button" margin.bottom="4px">530</p>
                                    <p ngwTypo="caption" muted="true">Shares</p>
                                </div>
                            </div>
                        </div>

                        <div col="100%" margin.top="24px">
                            <button ngwBtn="flat" color="primary" width="100%">Follow</button>
                        </div>


                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                      {{codeSnippet[19]}}
                 </pre>

                <!-- Info Card -->
                <h5 margin.y="12px">Details Card</h5>
                <div margin="24px auto" style="max-width: 500px;">
                    <div padding="12px" shadow="1" radius="4px" bgColor="baseFocus">
                        <div align="centercenter">
                            <div height="64px" width="64px" align="centercenter" shadow="1" bgColor="baseFocus" radius="50%" margin.top="-32px">
                                <i class="material-icons" textColor="primary" fontSize="30px">contact_support</i>
                            </div>
                        </div>
                        <div margin.top="24px">
                            <h1 align.x="center" ngwTypo="headline" textColor="primary">Support</h1>
                            <p align.x="center" ngwTypo="body">' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div margin.top="34px" align.x="center">
                            <button ngwBtn="" color="primary">Contact Support</button>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                       {{codeSnippet[21]}}
                </pre>

                <!-- Info Card 2 -->
                <h5 margin.y="12px">Details Card 2</h5>
                <div margin="24px auto" style="max-width: 500px;">
                    <div width="400px" shadow="2" radius="8px" bgColor="baseFocus" padding="64px">
                        <img height="300px" width="100%" src="https://image.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" />
                        <div margin.top="32px">
                            <h1 align.x="center" ngwTypo="headline">Customer Support</h1>
                            <p align.x="center" ngwTypo="body" muted="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <div align.x="center">
                                <button margin.top="24px" ngwBtn="raised" radius="9999px" color="primary"> 
                                    Get Started
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[22]}}
                 </pre>

                <!-- chat card -->
                <h5 margin.y="12px">Chat Card</h5>
                <div margin="24px auto" style="max-width: 700px;">
                    <div shadow="2" radius="8px" bgColor="baseFocus" padding="64px">
                        <div row>
                            <div>
                                <img height="40px" width="40px" margin.right="12px" radius="50%" fit="cover" src="https://image.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" />
                            </div>
                            <div col="fill">
                                <p ngwTypo="subheading-2" margin.bottom="4px">Jack Cooper</p>
                                <p ngwTypo="body" muted="true">3 hours ago - The Frontier</p>
                            </div>
                        </div>

                        <div margin.top="16px">
                            <p ngwTypo="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div margin.top="24px" align.x="right">
                            <button ngwBtn="" color="primary" margin.right="16px">
                                <i class="material-icons" margin.right="4px">duo</i> Like
                            </button>
                            <button ngwBtn="" color="primary">
                                <i class="material-icons" margin.right="4px">chat</i> 64 Comments
                            </button>
                        </div>

                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[23]}}
                 </pre>



            </div>
            <!-- stat Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'stat'">
                <h3>Stat Cards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                <!-- Single Stat -->
                <h5 margin.y="12px">Single Stat</h5>
                <div width="250px" wrapper *ngFor="let theme of ['primary','secondary','success','error']" style="display: inline-block;">
                    <div margin="20px" bgColor="baseFocus" padding="12px" shadow="2" radius="16px">
                        <p ngwTypo="body" muted="true" margin="0px">Total Page Views</p>
                        <h1 margin="0px" [textColor]="theme">89,400</h1>
                        <p ngwTypo="body" muted="true">21% more than last month</p>
                    </div>
                </div>

                <!-- stat with icons -->
                <h5 margin.y="12px">Stat with icon</h5>
                <div width="350px" wrapper *ngFor="let theme of ['primary','success','error']" style="display: inline-block;">
                    <div row margin="20px" bgColor="baseFocus" padding="12px" shadow="2" radius="16px">
                        <div col="fill">
                            <p ngwTypo="body" muted="true" margin="0px">Total Page Views</p>
                            <h1 margin="0px" [textColor]="theme">89,400</h1>
                            <p ngwTypo="body" muted="true">21% more than last month</p>
                        </div>
                        <div align="centercenter">
                            <i class="material-icons" [textColor]="theme" fontSize="30px">bolt</i>
                        </div>

                    </div>
                </div>

                <!-- stat with Avatar -->
                <h5 margin.y="12px">Stat with icon</h5>
                <div width="350px" wrapper *ngFor="let theme of ['primary','success','error']" style="display: inline-block;">
                    <div row margin="20px" bgColor="baseFocus" padding="12px" shadow="2" radius="16px">
                        <div col="fill">
                            <h1 margin="0px" fontWeight="bold" [textColor]="theme">86%</h1>
                            <p ngwTypo="body" muted="true" margin="0px">Tasks Completed</p>
                            <button ngwBtn="link">31 Tasks Remaining</button>
                        </div>
                        <div align="centercenter">
                            <img *ngFor="let size of ['56px']" height="{{size}}" width="{{size}}" radius="8px" src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
                        </div>

                    </div>
                </div>

                <!-- stat row -->
                <h5 margin.y="12px">Stat Row</h5>
                <div wrapper margin="20px">

                    <div row radius="16px" shadow="2" bgColor="baseFocus">
                        <div col="33.3%" style="border-right: 1px solid var(--ngw-theme-base);" padding="20px">
                            <div row padding="12px">
                                <div col="fill">
                                    <p ngwTypo="body" muted="true" margin="0px">Total Page Views</p>
                                    <h1 margin="0px" textColor="primary">89,400</h1>
                                    <p ngwTypo="body" muted="true">21% more than last month</p>
                                </div>
                                <div align="centercenter">
                                    <i class="material-icons" textColor="secondary" fontSize="40px">bolt</i>
                                </div>

                            </div>
                        </div>

                        <div col="33.3%" style="border-right: 1px solid var(--ngw-theme-base);" padding="20px">
                            <div row padding="12px">
                                <div col="fill">
                                    <p ngwTypo="body" muted="true" margin="0px">Total Page Views</p>
                                    <h1 margin="0px" textColor="primary">89,400</h1>
                                    <p ngwTypo="body" muted="true">21% more than last month</p>
                                </div>
                                <div align="centercenter">
                                    <i class="material-icons" textColor="secondary" fontSize="40px">payments</i>
                                </div>

                            </div>
                        </div>
                        <div col="fill" padding="20px">
                            <div row padding="12px">
                                <div col="fill">
                                    <p ngwTypo="body" muted="true" margin="0px">Total Page Views</p>
                                    <h1 margin="0px" textColor="primary">89,400</h1>
                                    <p ngwTypo="body" muted="true">21% more than last month</p>
                                </div>
                                <div align="centercenter">
                                    <i class="material-icons" textColor="secondary" fontSize="40px">campaign</i>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Dashboard Card -->
                <h5 margin.y="12px">Dashboard Stat Card</h5>
                <div margin="24px">
                    <div radius="4px" shadow="2" padding="24px" width="200px" bgColor="baseFocus">
                        <p ngwTypo="subheading-2" margin.bottom="12px">Revenue</p>
                        <p ngwTypo="headline">$56,734</p>
                        <p ngwTypo="body" align.y="center" textColor="success">
                            <i class="material-icons">arrow_drop_up</i> 5.77%
                        </p>
                        <p ngwTypo="caption" muted="true">Since last month</p>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                     {{codeSnippet[16]}}
                 </pre>


            </div>
            <!-- Gradient Cards -->
            <div padding="24px" *ngIf="currentComponent.id == 'gc'">
                <h3>Gradient Cards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <!-- Gradient Stat Card -->
                <h5 margin.y="12px">Gradient Stat Card Primary</h5>
                <div margin="24px auto" padding="10px" style="max-width: 300px;display: inline-block;" *ngFor="let theme of ['primary','secondary','success','warning','error']">
                    <div [gradientBgColor]="theme" align="centercenter" padding="24px" border.style="solid" border.color="{{theme}}" border.width="2px" radius="8px">
                        <div>
                            <div textColor="{{theme}}Content" fontSize="18px">Downloads</div>
                            <div textColor="{{theme}}Content" fontSize="36px">622k</div>
                        </div>
                        <div [gradientBgColor]="theme" radius="9999px" margin.left="32px" padding="16px" textColor="{{theme}}Content">
                            <svg height="48px" width="48px" xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M5.5 16a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 16h-8z" />
                              </svg>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                    {{codeSnippet[24]}}
                </pre>

            </div>
            <!-- Image Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'imageCard'">
                <h3>Image Cards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                <!-- profile -->
                <h5 margin.y="12px">Profile With Image</h5>
                <div radius="16px" bgColor="baseFocus" width="300px" style="overflow: hidden;" margin="20px" shadow="1">
                    <img src="https://picsum.photos/id/1005/400/250" height="auto" width="100%" />
                    <div padding="24px">
                        <h4 ellipsis>Karolann Collins</h4>
                        <p ngwTypo="body-2" muted="true">Direct Interactions Liaison</p>
                    </div>
                </div>

                <h5 margin.y="12px">Top Image</h5>
                <div border="1px solid" bgColor="base" border.color="baseFocus" radius="16px" width="400px" style="overflow: hidden;" margin="20px">
                    <img src="https://picsum.photos/id/1005/400/250" height="auto" width="100%" />
                    <div padding="24px">
                        <h6 ellipsis>PHmG123DG1233..!!!
                            <div ngwBadge="" color="secondary">New</div>
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div align.x="right">
                            <button ngwBtn="flat" color="secondary">More Info</button>
                        </div>
                    </div>
                </div>

                <h5 margin.y="12px">Image Bottom</h5>

                <div border="1px solid" bgColor="base" border.color="baseFocus" radius="16px" width="400px" style="overflow: hidden;" margin="20px">

                    <div padding="24px">
                        <h6 ellipsis>Image Bottom</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div align.x="left">
                            <button ngwBtn="flat" color="primary" margin.right="10px">Login</button>
                            <button ngwBtn="">Register</button>
                        </div>
                    </div>
                    <img src="https://picsum.photos/id/1005/400/250" height="auto" width="100%" />
                </div>

                <h5 margin.y="12px">Center Shadow</h5>
                <div shadow="2" bgColor="base" radius="16px" width="400px" style="overflow: hidden;" padding="32px" margin="20px">
                    <img src="https://picsum.photos/id/1005/400/250" height="auto" width="100%" radius="16px" />
                    <div padding.top="24px">
                        <h4 align.x="center" ellipsis>PHmG123DG1233..!!!</h4>
                        <p align.x="center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div align.x="center">
                            <button ngwBtn="outline" color="secondary">More Info</button>
                        </div>
                    </div>
                </div>

                <h5 margin.y="12px">Horizontal Image</h5>
                <div row radius="16px" border="1px solid" bgColor="base" border.color="baseFocus" style="overflow: hidden;">
                    <div col="30%">
                        <img src="https://picsum.photos/id/1005/400/250" height="100%" width="100%" />
                    </div>
                    <div col="70%" align.y="center" padding="32px">
                        <div>
                            <h2>Horizontal
                                <div ngwBadge="" color="secondary" fontSize="60%">New</div>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <div align.x="left">
                                <button ngwBtn="flat" color="primary" margin.right="10px">Get Started</button>
                                <button ngwBtn="">More Info</button>
                            </div>
                        </div>

                    </div>
                </div>

                <h5 margin.y="12px">Glass Image Card</h5>
                <div align="centercenter" radius="16px" padding="40px 16px" fit="cover" style="background-image:url(https://picsum.photos/id/314/1000/300);background-size: cover;">
                    <div ngwGlassBg="true" height="auto" width="70%" row padding="24px" radius="12px" shadow="1">
                        <div col="35%">
                            <img src="https://picsum.photos/id/1005/400/250" height="100%" width="100%" radius="8px" />
                        </div>
                        <div col="65%" padding="24px" align.x="left">
                            <div>
                                <h2 textColor="primary-contrast">Glass</h2>
                                <p textColor="primary-contrast">
                                    Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.
                                </p>
                                <button ngwGlassBg="true" ngwBtn="" color="" textColor="primaryContent">Get Started</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Img Card -->
                <h5 margin.y="12px">Image Card</h5>
                <div margin="24px">
                    <div row padding="12px" shadow="2" radius="4px" bgColor="baseFocus">
                        <div col="100%">
                            <img radius="4px" fit="cover" height="128px" width="100%" src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/08/nature-design.jpg" />
                        </div>
                        <div col="100%" margin.top="24px">
                            <p ngwTypo="subheading-2">Title</p>
                            <p ngwTypo="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div col="100%" align.x="right" margin.top="24px">
                            <button ngwBtn="flat" color="warning" margin.right="8px">Cancel</button>
                            <button ngwBtn="flat" color="primary">Default</button>
                        </div>
                    </div>
                </div>
                <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto" bgColor="white">
                       {{codeSnippet[20]}}
                </pre>





            </div>
            <!-- Info Card -->
            <div padding="24px" *ngIf="currentComponent.id == 'infoCard'">
                <h3>Info Cards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <!-- Info 1 -->
                <h5 margin.y="12px">Info Card 1</h5>
                <div *ngFor="let theme of ['primary','secondary','success']" style="display: inline-block;" padding="32px" [bgColor]="theme" radius="16px" shadow="3" width="300px" margin="20px">
                    <p textColor="{{theme}}Content"> Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
                    <div align.x="right">
                        <button ngwBtn="flat" [color]="theme">More Info <i class="material-icons">east</i> </button>
                    </div>

                </div>

                <!-- Info 2 -->
                <h5 margin.y="12px">Info Card 2</h5>
                <div *ngFor="let theme of ['primary','secondary','error']" style="display: inline-block;" padding="32px" [bgColor]="theme" radius="16px" shadow="3" width="300px" margin="20px">
                    <p align.x="center" textColor="{{theme}}Content"> Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
                    <div align.x="center">
                        <button ngwBtn="flat" [color]="theme" margin.right="5px">Agree </button>
                        <button ngwBtn="flat" [color]="theme">Cancel</button>
                    </div>

                </div>

            </div>
            <!-- Badges -->
            <div padding="24px" *ngIf="currentComponent.id == 'badge'">
                <h3>Badges</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <!-- Simple Filled -->
                <h5 margin.y="12px">Simple Filled</h5>
                <div margin.bottom="20px">
                    <div *ngFor="let theme of ['primary','secondary','success','default']" ngwBadge="" [color]="theme">Simple Badge</div>
                </div>

                <!-- Badge With Icon -->
                <h5 margin.y="12px">Badge With Icon</h5>
                <div margin.bottom="20px">
                    <div *ngFor="let theme of ['primary','secondary','success','default']" ngwBadge="" [color]="theme">
                        PHmG123 <i class="material-icons" fontSize="inherit" ngwClickable="true">close</i>
                    </div>
                </div>

                <!--outline Badge -->
                <h5 margin.y="12px">Outline Badge</h5>
                <div margin.bottom="20px">
                    <div *ngFor="let theme of ['primary','secondary','success','default']" ngwBadge="outline" [color]="theme">NEW</div>
                </div>


                <!--outline Badge With Icon -->
                <h5 margin.y="12px">Outline Badge With Icon</h5>
                <div margin.bottom="20px">
                    <div *ngFor="let theme of ['primary','secondary','success','default']" ngwBadge="outline" [color]="theme">
                        <i class="material-icons" fontSize="inherit" ngwClickable>close</i> NEW
                    </div>
                </div>

                <!--outline Badge With Icon -->
                <h5 margin.y="12px">Badge With Text</h5>

                <h1>
                    This is heading 1
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h1>
                <h2>
                    This is heading 2
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h2>
                <h3>
                    This is heading 3
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h3>

                <h4>
                    This is heading 4
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h4>

                <h5>
                    This is heading 5
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h5>

                <h6>
                    This is heading 6
                    <div ngwBadge="outline" color="primary">NEW</div>
                </h6>
            </div>
            <!-- Avatars-->
            <div padding="24px" *ngIf="currentComponent.id == 'avatar'">
                <h3>Avatar</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <!-- Simple Filled -->
                <h5 margin.y="12px">Simple Avatar</h5>

                <div margin.bottom="20px">
                    <img *ngFor="let size of ['94px','56px','40px']" height="{{size}}" width="{{size}}" radius="8px" margin.right="30px" src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
                </div>

                <h5 margin.y="12px">Rounded Avatar</h5>

                <div margin.bottom="20px">
                    <img *ngFor="let size of ['94px','56px','40px']" height="{{size}}" width="{{size}}" radius="50%" margin.right="30px" src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
                </div>

                <h5 margin.y="12px">Bordered Avatar</h5>
                <div margin.bottom="20px">
                    <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png" *ngFor="let size of ['94px','56px','40px']" height="{{size}}" width="{{size}}" radius="8px" margin.right="30px" padding="1px" border.style="solid" border.width="3px" border.color="primary">
                </div>

                <h5 margin.y="12px">Bordered Rounded Avatar</h5>

                <div margin.bottom="20px">
                    <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png" *ngFor="let size of ['94px','56px','40px']" height="{{size}}" width="{{size}}" radius="50%" margin.right="30px" padding="1px" border.style="solid" border.width="3px" border.color="primary">
                </div>

                <h5 margin.y="12px">Initials Avatar</h5>
                <div margin.bottom="20px">
                    <div margin.right="30px" *ngFor="let size of ['94px','56px','40px']" style="display: inline-block;">
                        <div align="centercenter" height="{{size}}" width="{{size}}" radius="50%" bgColor="baseFocus">
                            <span fontSize="24px">KJO</span>
                        </div>

                    </div>
                </div>

                <h5 margin.y="12px">AvatarGroup</h5>

                <div margin.bottom="20px">
                    <!-- *ngIf="profiles as users" to use from ts -->
                    <!--  -->
                    <div *ngIf="['1','2','3','4','5','6'] as users">
                        <div>
                            <img *ngFor="let user of users.slice(0, 5)" radius="50%" height="40px" width="40px" border="3px solid" border.color="baseFocus" margin.left="-15px" src="http://daisyui.com/tailwind-css-component-profile-{{user}}@56w.png">
                            <div *ngIf="users.length > 5" style="display: inline-block;">
                                <div align="centercenter" bgColor="base" radius="50%" height="40px" width="40px" border="3px solid" border.color="baseFocus" margin.left="-15px">
                                    +{{users.length - 5}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="avatar">
                        <div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>