.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 36px;
    border: 1px solid #eee;
    border-top: none;
}

.sidebar-active {
    color: #636464;
    background-color: #e5e5e5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    // background-color: #ddd;
}

.sec2 {
    height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    overflow: auto;
}

.sec3 {
    height: calc(100vh - 240px);
    min-height: calc(100vh - 240px);
    max-height: calc(100vh - 240px);
    overflow: auto;
}