<!-- hero -->
<div row style="min-height: 50vh;" bgColor="primary">
    <div col="100%" align.y="center" align.x="center" padding="30px">
        <div row>
            <div col="100%" fontSize="56px" textColor="primary-contrast" fontWeight="500">Angular Widgets</div>
            <div col="100%" fontSize="30px" margin="15px 0px 5px" textColor="primary-contrast">Rapidly build UI screens without ever leaving your HTML.</div>
            <div col="100%" fontSize="20px" margin="5px 0px 35px" textColor="primary-contrast">No CSS, No Typescript just copy paste widget HTML</div>
            <div col="100%" margin.y="10px">
                <button ngwBtn="raised" color="Secondary" routerLink="/start">Get Started</button>
            </div>
        </div>
    </div>
</div>
<!-- features -->
<div row width="80%" margin="auto" padding="16px" style="max-width: 1080px;">
    <div col.lg="33%" col.md="100%" col.sm="100%" padding="12px">
        <p ngwTypo="title">High Quality</p>
        <p ngwTypo="body-1">Well Tested high performant utility first angular directives and components without the hassle of dealing with CSS.</p>
    </div>

    <div col.lg="33%" col.md="100%" col.sm="100%" padding="12px">
        <p ngwTypo="title">Utility First</p>
        <p ngwTypo="body-1">
            Includes utility directives that help you build any design directly in your markup.
        </p>
    </div>

    <div col.lg="fill" col.md="100%" col.sm="100%" padding="12px">
        <p ngwTypo="title">Frictionless</p>
        <p ngwTypo="body-1">Non interfering, can coexist with any other css or ui libraries.</p>

    </div>

</div>
<!-- guide -->
<div row width="80%" margin="auto" padding="16px" style="max-width: 1080px;">
    <hr width="100%" margin="20px auto" style="border-bottom: 1px solid #eee;" />
    <p ngwTypo="title">Guides</p>
    <div width="100%" row>
        <div col.lg="33%" col.md="100%" col.sm="100%" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/start">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">flag</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Get Started
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know how to add and use ngw in your angular app.
                    </p>
                </div>
            </div>
        </div>
        <div col.lg="33%" col.md="100%" col.sm="100%" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/components">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">widgets</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Widgets
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know about all the components NGW is offering.
                    </p>
                </div>
            </div>
        </div>
        <div col.lg="fill" col.md="100%" col.sm="100%" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/theme">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">palette</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Theme
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know how to customize and theme NGW components.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>