<!-- hero -->
<div row height="360px" bgColor="primary-400">
    <div col="100%" align.y="center" align.x="center">
        <div row>
            <div col="100%" fontSize="56px" textColor="primary-contrast">Angular Widgets</div>
            <div col="100%" fontSize="20px" margin="15px 0px 35px" textColor="primary-contrast">Easy Copy Paste Widgets for Angular Apps</div>
            <div col="100%">
                <button ngwBtn="raised" color="Secondary" routerLink="/start">Get Started</button>
            </div>
        </div>
    </div>
</div>

<!-- features -->
<div row width="75%" margin="20px auto" padding="16px" style="max-width: 1080px;">
    <div col="33%" padding="24px">
        <p ngwTypo="title">High Quality</p>
        <p ngwTypo="body-1">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.</p>
        <p ngwTypo="body-1">Strightforward APIs with consistent cross platform behaviour.</p>
    </div>

    <div col="33%" padding="24px">
        <p ngwTypo="title">Versatile</p>
        <p ngwTypo="body-1">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.</p>
        <p ngwTypo="body-1">Strightforward APIs with consistent cross platform behaviour.</p>
    </div>

    <div col="fill" padding="24px">
        <p ngwTypo="title">Frictionless</p>
        <p ngwTypo="body-1">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.</p>
        <p ngwTypo="body-1">Strightforward APIs with consistent cross platform behaviour.</p>
    </div>

</div>

<!-- guide -->
<div row width="75%" margin="20px auto" padding="16px" style="max-width: 1080px;">
    <hr width="100%" margin="20px auto" style="border-bottom: 1px solid #eee;" />
    <p ngwTypo="title">Guides</p>
    <div width="100%" row>
        <div col="33%" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/start">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">flag</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Get Started
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know how to add and use ngw in your angular app.
                    </p>
                </div>
            </div>
        </div>
        <div col="33%" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/components">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">widgets</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Components
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know about all the components NGW is offering.
                    </p>
                </div>
            </div>
        </div>
        <div col="fill" padding="8px">
            <div row bgColor="primary-100" margin="8px" align.y="center" radius="4px" style="cursor: pointer;" routerLink="/theme">
                <div margin="8px">
                    <div height="40px" width="40px" bgColor="primary-300" textColor="primary-contrast" radius="50%" align="centercenter">
                        <i class="material-icons">palette</i>
                    </div>
                </div>
                <div col="fill" padding="8px 8px 0px 0px">
                    <p ngwTypo="subheading-2" textColor="primary-700" margin.bottom="8px">
                        Theme
                    </p>
                    <p ngwTypo="body" textColor="primary-700" margin.bottom="8px">
                        Know how to customize and theme NGW components.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>