<div>
    <h3>Ngw Typography</h3>
    <p>The text component is a simple component that can be used to style the text color of any element. </p>
    <h5>API</h5>
    <table>
        <tr>
            <th>Directive</th>
            <th>Description</th>
            <th>Allowed Values</th>
        </tr>
        <tr>
            <td> <code>ngwTypo</code> </td>
            <td> Defines style for text</td>
            <td>headline, title, subheading-2, subheading-1, body-2, body-1, body, caption, button, display-4, display-3, display-2, display-1</td>
        </tr>
        <tr>
            <td> <code>muted</code> </td>
            <td> Defines if the text need to be muted </td>
            <td> true or false</td>
        </tr>
    </table>
    <h6 margin.y="16px">Typography</h6>
    <div>
        <p ngwTypo="display-4">display-4</p>
        <p ngwTypo="display-3">display-3</p>
        <p ngwTypo="display-2">display-2</p>
        <p ngwTypo="display-1">display-1</p>
        <p ngwTypo="headline">headline</p>
        <p ngwTypo="title">title</p>
        <p ngwTypo="subheading-2">subheading-2</p>
        <p ngwTypo="subheading-1">subheading-1</p>
        <p ngwTypo="body-2">body-2</p>
        <p ngwTypo="body-1">body-1</p>
        <p ngwTypo="body">body</p>
        <p ngwTypo="caption">caption</p>
        <p ngwTypo="button">button</p>
    </div>

    <pre class="prettyprint" radius="16px" style="overflow: auto;" margin="auto">
        {{codeSnaps.typo}}
    </pre>

</div>